{% extends 'base.html.twig' %}

{% block title %}A propos de Ponyshop{% endblock %}

{% block body %}
    {% include('./navBar.html.twig') %}
    <div class="banner">
        <div class="banner-content">
            <h1>À propos de Ponyshop</h1>
        </div>
    </div>

    <div class="container is-widescreen">
        <br>
    <h2>Pourquoi avoir créé Ponyshop ?</h2>
<br>
    <p>
    La vente/location d’équidés est un vaste marché et il est parfois compliqué de trouver sa perle rare.
    L’utilité de Ponyshop est de vous aider à trouver votre futur cheval en facilitant les échanges avec les vendeurs et vous proposant un cheval correspondant à vos attentes !
    </p>
    <br>
    <h2>Par qui a été créer Ponyshop ?</h2>
<br>
    <p>
        Ponyshop a été créer de A à Z par une ancienne cavalière de CCE passionnée par le développement informatique.
    </p>
    <br>
    <h2>Pour qui a été créer Ponyshop ?</h2>
<br>
    <p>
    Que ce soit pour vous, cavalier(e), parents de cavaliers ou même professionnels...
    </p>
    <br>
</div>
{% endblock %}
