{% extends 'base.html.twig' %}

{% block title %}A propos de Ponyshop{% endblock %}

{% block body %}
<img src="{{ asset('img/about.png') }}">
    <div class="container is-widescreen">
        <br>
    <h2>Pourquoi avoir créé Ponyshop ?</h2>
<br>
    <p>
    La vente/location d’équidés est un vaste marché et il est parfois compliqué de trouver sa perle rare : tant par ses critères, sa localisation...
    L’utilité de Ponyshop est de vous aider à trouver votre moitié équine en facilitant les échanges avec les vendeurs et vous proposant un partenaire de balade, dressage, TAP,  saut, cross, horse-ball etc... correspondant à vos attentes !
    </p>
    <br>
    <h2>Par qui a été créer Ponyshop ?</h2>
<br>
    <p>
    Ponyshop a été créer de A à Z par une cavalière passionnée tant bien par les chevaux que par son métier : celui de développeuse informatique.
    </p>
    <br>
    <h2>Pour qui a été créer Ponyshop ?</h2>
<br>
    <p>
    Que ce soit pour vous, cavalier(e), parents de cavaliers ou même professionnels...
    </p>
    <br>
</div>
{% endblock %}
