{% extends 'base.html.twig' %}

{% block title %}A propos de Racehorse{% endblock %}

{% block body %}
<img src="{{ asset('img/about.png') }}">
    <div class="container is-widescreen">
        <br>
    <h2>Pourquoi avoir créé Racehorse ?</h2>
<br>
    <p>
    La vente/location d’équidés est un vaste marché et il est parfois compliqué de trouver sa perle rare.
    L’utilité de Racehorse est de vous aider à trouver votre futur cheval en facilitant les échanges avec les vendeurs et vous proposant un cheval correspondant à vos attentes !
    </p>
    <br>
    <h2>Par qui a été créer Racehorse ?</h2>
<br>
    <p>
        Racehorse a été créer de A à Z par une ancienne cavalière de CCE passionnée par le développement informatique.
    </p>
    <br>
    <h2>Pour qui a été créer Racehorse ?</h2>
<br>
    <p>
    Que ce soit pour vous, cavalier(e), parents de cavaliers ou même professionnels...
    </p>
    <br>
</div>
{% endblock %}
