<form method="post" action="{{ path('security/app_delete', {'idutilisateur': utilisateur.idutilisateur}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.idutilisateur) }}">
    <button class="btn">Delete</button>
</form>
