{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    {% for favori in listFavoris %}

        <table class="table">
            <tbody>
            <tr>
                <th>IdUtilisateurFav</th>
                <td>{{ favori.idutilisateurfav }}</td>
            </tr>
            <tr>
                <th>IdAnnonceFav</th>
                <td>{{ favori.idannoncefav }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <a href="{{ path('homepage') }}">back to list</a>
{% endblock %}
