{# templates/security/reset_password_request.html.twig #}
<h2>Mot de passe oublié</h2>
{{ form_start(formPassword) }}
    {{ form_row(formPassword.mail) }}
<button class="button is-primary">Réinitialiser</button>
{{ form_end(formPassword) }}
