{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
        <div class="container">
            <br>
            {{ form_start(formPassword) }}
            <div class="box" style="width: 700px; left: 30%; position: sticky;">
            {{ form_row(formPassword.mail) }}
            </br>
                <button class="button is-centered is-warning is-light is-medium" type="submit">Valider la demande de réinitialisation</button>
            </div>
            {{ form_end(formPassword) }}
        </div>
{% endblock %}