{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}
    <img src="{{ asset('img/connexion.png') }}">
<div class="container">
    <br>
    <form class="box">
        <div class="field">
            <label class="label">Pseudo</label>
            <div class="control">
                <input class="input is-outlined is-warning" type="email" placeholder="e.g. alex@example.com">
            </div>
            <p class="help is-danger is-underlined">Pseudo et/ou mot de passe oublié</p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input is-outlined is-warning" type="password" placeholder="********">
            </div>
        </div>
<br>
        <button class="button is-centered is-warning is-light is-medium">Me connecter</button>
    </form>
</div>
{% endblock %}
