
<form method="post" action="{{ path('app_annonce_delete', {'idannonce': annonce.idannonce}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cette annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.idannonce) }}">
    <button class="button is-danger" style="font-family: Montserrat">Supprimer mon annonce</button>
</form>
