{% extends 'base.html.twig' %}

{% block title %}Modifier votre annonce{% endblock %}

{% block body %}
    {% include('./navBar.html.twig') %}

    <section class="section">
    <div class="container">
    <h1 class="title has-text-centered mb-6">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa-regular fa-pen-to-square"></i>
                </span>
                <span>  Modifier une annonce</span>
            </span>
    </h1>
    {{ include('annonce/_form.html.twig', {'button_label': "Modifier l'annonce"}) }}
    </div>
    </section>
{% endblock %}