{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
    {{ include('./navBar.html.twig') }}

<section class="section">
    <div class="container">
        <h1 class="title has-text-centered mb-6">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span> Ajout d'une nouvelle annonce</span>
            </span>
        </h1>
    {{ include('annonce/_form.html.twig',{'button_label': "Publier l'annonce"}) }}
    </div>
</section>
{% endblock %}
