{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
    <img src="{{ asset('img/addAnnonce.jpg') }}">
<div class="container is-widescreen">
    <br>
    <div class="columns">
        <div class="column">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
    {{ include('annonce/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
