h1{
    color: hsl(171, 100%, 29%);
    font-size: 20px;
    font-family: 'Montserrat';
}
h4{
    color:hsl(171, 100%, 29%);
    font-size: 30px;
    font-family: 'Montserrat';
    margin-right:40px;
}

h2,p,a,button, form, input, select, textarea{font-family: 'Montserrat';}
body{
    font-family: 'Montserrat';
}
footer{
    font-family: 'Montserrat';
}
li{
    font-family: 'Montserrat';
    list-style-type: square;
}
h3{
    font-size: 16px;
    color: hsl(171, 100%, 29%);
}
.containerIndex{
    position:relative;
    width:100%;
}

.containerIndex img{
    width:100%;
    height:auto;
}

.btnIndexAcheter {
    position: absolute;
    top: 65%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: hsl(171, 100%, 29%);
    width:300px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
}
.btnIndexVendre {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: hsl(171, 100%, 29%);
    font-size: 16px;
    width:300px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
}
.is-margin-left-right {
    margin-left: 1rem;
    margin-right: 1rem;
}

.has-border-right {
    border-right: 1px solid #dbdbdb; /* Couleur Bulma pour les bordures */
}

.box {
    margin-bottom: 1rem;
}

.media-content p {
    margin: 0;
}

.tag {
    font-size: 0.875rem;
}

.textarea {
    margin-top: 1rem;
}
