{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<div id="messagePrev">
    <article class="message is-danger">
        <div class="message-header">
            <p> Attention </p>
            <button class="delete" aria-label="delete" id="delete" onclick="closeMessage();"></button>
        </div>
        <div class="message-body">
            Prendre un animal reste une démarche importante qui doit être mûrement réfléchie : il faut leur donner du temps,
            de l'argent, des soins, de l'attention, de l'espace...
        </div>
    </article>
    </div>
{% endblock %}
