{% extends 'base.html.twig' %}

{% block title %}Guide du site {% endblock %}

{% block body %}
    <div class="banner">
        <div class="banner-content">
            <h1>Guide de l'application</h1>
        </div>
    </div>
    <div class="container is-widescreen">
        <p>
            <br>
            Si vous êtes perdus parmi les fonctionnalités sur ce site, vous êtes au bon endroit !
            <br>
        </p>
        <br>
        <h2>Voici le guide des fonctionnalités Ponyshop : </h2>
        <p>
        <br>
            Si vous souhaitez proposer un cheval à la vente/location, vous possédez la possibilité :
        <br>
        </p>
        <br>
        <div>
        <li>Liste de toutes vos annonces postées</li>
        <li>Ajouter vos annonces</li>
        <li>Editer vos annonces</li>
        <li>Supprimer vos annonces</li></div>
        <p>
        <br>
            Si vous recherchez un cheval à la vente/location, vous possédez la possibilité :
        </p>
        <br>
        <div>
        <li>Rechercher un équidé selon un ou plusieurs critères.</li>
        <li>Gestion de vos coups de cœur : liste de vos favoris.</li></div>
        <br>
        <p>
        Bien sûr, peu importe votre statut vous avez accès à la gestion de votre profil, à toutes les informations nécessaires concernant Ponyshop (mentions légales, à propos de Ponyshop).
        <br>
        Si vous avez une question, n’hésitez pas à utiliser le formulaire de <a href="{{ path('app_requete_new') }}">contact</a> !
        <br>
        </p>
    </div>
{% endblock %}
