{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}
    <img src="{{ asset('img/inscription.png') }}">
    <div class="container">
        <form class="box">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                            <input class="input is-outlined is-warning" type="text" placeholder="Text input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Pseudo</label>
                        <div class="control">
                            <input class="input is-outlined is-warning" type="text" placeholder="Text input" value="bulma">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <div class="control">
                            <input class="input is-outlined is-warning" type="password" placeholder="********">
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Prénom</label>
                        <div class="control">
                            <input class="input is-outlined is-warning" type="text" placeholder="Text input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input is-outlined is-warning" type="email" placeholder="Email input" value="hello@">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Confirmation mot de passe</label>
                        <div class="control">
                            <input class="input is-outlined is-warning" type="password" placeholder="********">
                        </div>
                    </div>
                </div>
            </div>
    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#" style="text-decoration: underline;color: hsl(48, 100%, 67%);">terms and conditions</a>
            </label>
        </div>
    </div>
            <br>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-warning is-medium">M'inscrire</button>
        </div>
        <div class="control">
            <button class="button is-light">Retour à l'accueil</button>
        </div>
    </div>
</form>
    </div>
{% endblock %}
