{% extends 'base.html.twig' %}

{% block title %}New Equide{% endblock %}

{% block body %}
    <h1>Create new Equide</h1>

    {{ include('equide/_form.html.twig') }}

    <a href="{{ path('app_equide_index') }}">back to list</a>
{% endblock %}
