{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <img src="{{ asset('img/contact.png') }}">
<div class="container is-widescreen">
    <p>
        <br>
    </p>
</div>
{% endblock %}
